{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}
{% block head %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">    

    {% block stylesheets %}



    {% endblock stylesheets %}
{% endblock head %}

{% block body %}

    <style>

    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="banner">
                <div class="image">
                    <img src="https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgeo.2F2018.2F11.2F13.2Fd6380e5c-39e3-45b1-b858-c1c72ffe37fa.2Ejpeg/1120x630/background-color/ffffff/quality/90/comment-faire-du-covoiturage-en-europe.jpg" alt="Nature">
                </div>
                <div class="header">
                    <h2 class="header2">Vous vous déplacez ?</h2>
                    <h2 class="header2">Vous pouvez partagez vos trajets à plusieurs !</h2>
                </div>
                <div class="body">
                    <p><a href="{{ path('search.trajet') }}" <button type="button" class="btn btn-default btn-lg">{{'Search a route'|trans}}</a></p>
                </div>
            </div>
        </div>
    </div>

<div class="afficher-route"><br><br>
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Home{% endtrans %}
    </p>
</div>



{% endblock %}

