{% extends 'base.html.twig' %}

{% block title %}Devenir membre |  {{ parent() }}{% endblock %}

{% block body %}
    <h1>{% trans %}Create your account{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}
