{% extends 'base.html.twig' %}

{% block title %}Compte crée | {{ parent() }}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <style>
        .bod{
            text-align:center;
        }
    </style>
<div class="bod">
    <div>
        <h1>{% trans %}Congratulations ! Your account has been well created{% endtrans %}</h1>
    </div>
    <div>
        <h3>Votre compte a bien été crée.</h3>
        <a href="{{ path('app_login') }}" <button type="button" class="btn btn-primary">Cliquez ici pour vous authentifier</a> 
    </div>
    {#
    <div>
    You are logged in as <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
    </div>
    #}
{% endblock %}
