{% extends 'base.html.twig' %}

{% block title %}Administration |  {{ parent() }}{% endblock %}

{% block body %}
<div class ="menu">

</div>
    <div>
        <h1><strong>Administration</strong></h1>
    </div>
    <ul>
        <li><a href="{{ path('trajet.list') }}">Page d'accueil</a></li>
        <li><a href="#">Gérer utilisateurs</a>
            <ul>
                <li><a href="#">Ajouter un utilisateur</a></li>
                <li><a href="{{ path('admin_utilisateurs') }}">Liste des utilisateurs</a></li>
            </ul>
        </li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Contactez-nous</a></li>
    </ul>
</div>

{% endblock %}