{% extends 'base.html.twig' %}

{% block title %}Administration |  {{ parent() }}{% endblock %}


{% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% block stylesheets %}


    {% endblock stylesheets %}
{% endblock head %}

{% block body %}

    <style>
        th{
            text-align: center;
            height: 75px;
        }


    </style>

    <div class="title">Administration</div><br><br>
    <table class="table table-striped">
        <thead class="thead-dark">

        </thead>
        <tbody class="administration_command"> 
            <tr>
                <th class="command_admin_impair"><br><a href="#">{% trans %}Add a user{% endtrans %}</a></th>
            </tr>
            <tr>
                <th class="command_admin_pair"><br><a href="{{ path('admin_utilisateurs') }}">{% trans %}Moderate users{% endtrans %}</a></th>
            </tr>
            <tr>
                <th class="command_admin_impair"><br><a href="#">{% trans %}Parameters{% endtrans %}</a></th>
            </tr>
            <tr>
                <th class="command_admin_pair"><br><a href="#">{% trans %}Chat Moderators{% endtrans %}</a></th>
            </tr>
            <tr>
                <th class="command_admin_impair"><br><a href="#">{% trans %}Web Design{% endtrans %}</a></th>
            </tr>
        </tbody>
    </table>

<div class="afficher-route">
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Administration{% endtrans %}
		→
		{% trans %}Admin commands{% endtrans %}</p>
</div>


{% endblock %}