{% extends 'base.html.twig' %}

{% block title %}Administration |  {{ parent() }}{% endblock %}


{% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% block stylesheets %}


    {% endblock stylesheets %}
{% endblock head %}

{% block body %}

    <style>
        th{
            text-align: center;
            height: 75px;
        }


    </style>

    <h1>Administration</h1><br><br>
    <table class="table table-striped">
        <thead class="thead-dark">

        </thead>
        <tbody> 
            <tr>
                <th class="table-dark"><br><a href="#">{% trans %}Add a user{% endtrans %}</a></th>
            </tr>
            <tr>
                <th><br><a href="{{ path('admin_utilisateurs') }}">{% trans %}Moderate users{% endtrans %}</a></th>
            </tr>
            <tr>
                <th><br><a href="#">{% trans %}Parameters{% endtrans %}</a></th>
            </tr>
            <tr>
                <th><br><a href="#">Chat modérateurs</a></th>
            </tr>
            <tr>
                <th><br><a href="#">Web Design</a></th>
            </tr>
        </tbody>
    </table>
{% endblock %}