{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur | {{ parent() }}{% endblock %}

{% block body %}
<div class="title">{% trans %}Modify a user{% endtrans %}</div>
<div class="media" style="margin-top: 20px;"></div>


    {{ form(userForm) }}
    
<div class="afficher-route">
	<p>({% trans %}English{% endtrans %})
		{% trans %}Carpooling{% endtrans %}
		→
		{% trans %}Administration{% endtrans %}
		→
		{% trans %}Edit user{% endtrans %}</p>
</div>



{% endblock %}
