{% extends 'base.html.twig' %}

{% block title %}Modifier trajet | {{ parent() }}{% endblock %}

{% block body %}

    <h1>Modifier les informations de votre trajet :</h1>

<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Enregistrer</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}