{% extends 'base.html.twig' %}

{% block title %}Hello TrajetController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/comptes/E153247Y/public_html/GestionCovoiturages/src/Controller/TrajetController.php'|file_link(0) }}">src/Controller/TrajetController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/comptes/E153247Y/public_html/GestionCovoiturages/templates/trajet/index.html.twig'|file_link(0) }}">templates/trajet/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
